@import "tailwindcss";
@import "./theme.css";

@layer base {
  :root {
    --primary: #8ab9f1;
    --primary-light: #cde4ff;
    --primary-dark: #4c82c2;

    --font-primary: #003b81;
    --font-secondary: var(--screen);

    --screen: #f8fbff;

    --card: #fff;
    --popover: var(--card);
    --accent: var(--primary);
    --destructive: hsl(0, 84.2%, 60.2%);

    --border: var(--primary-light);
    --input: var(--card);
    --ring: var(--primary);

    --radius: 1rem;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  h1 {
    @apply text-4xl md:text-5xl;
  }
  h2 {
    @apply text-3xl md:text-4xl;
  }
  h3 {
    @apply text-2xl md:text-3xl;
  }
  h4 {
    @apply text-xl md:text-2xl;
  }
}

@layer components {
  .container-custom {
    @apply container mx-auto px-4 md:px-6 max-w-7xl pt-20 lg:pt-24;
  }

  .btn-primary {
    @apply bg-primary text-center text-font-secondary hover:bg-primary-dark rounded-full px-6 py-3 font-medium transition-all duration-300 hover:scale-105 shadow-lg shadow-primary/20 hover:shadow-xl hover:shadow-primary/30;
  }

  .btn-secondary {
    @apply bg-secondary text-secondary-foreground hover:bg-secondary/90 rounded-full px-6 py-3 font-medium transition-colors;
  }

  .card-hover {
    @apply transition-all duration-300 hover:shadow-lg hover:-translate-y-1;
  }

  .title {
    @apply text-4xl md:text-5xl font-bold mb-4 leading-tight uppercase text-primary-dark;
  }

  .subtitle {
    @apply text-font-primary/80 text-base md:text-lg leading-relaxed max-w-2xl mx-auto;
  }

  @keyframes appear {
    from {
      opacity: 0;
      display: block;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes disappear {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      display: none;
    }
  }

  .animate-appear {
    animation: appear 0.2s ease both;
  }

  .animate-disappear {
    animation: disappear 0.1s ease both;
  }
}
