@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);

  --color-font-primary: var(--font-primary);
  --color-font-secondary: var(--font-secondary);
  --color-screen: var(--screen);

  --color-background: var(--screen);
  --color-foreground: var(--font-primary);

  --color-card: var(--card);
  --color-card-foreground: var(--font-primary);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--font-primary);

  --color-primary-foreground: white;

  --color-secondary: var(--card);
  --color-secondary-foreground: var(--font-primary);

  --color-muted: var(--card);
  --color-muted-foreground: var(--font-secondary);

  --color-accent: var(--accent);
  --color-accent-foreground: white;

  --color-destructive: var(--destructive);
  --color-destructive-foreground: white;

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius: var(--radius);

  --animation-appear: appear;
  --animation-disappear: disappear;
}
